.img-button{
	width:100%;
}
.char-whtie {
	color: #CCCCCC
}
.char-black {
	color: #2E2E2E
}
.contain-css{

	padding: 0cm 0cm 0.5cm 0.5cm;
	margin:0cm 0.5cm 0.5cm 0.5cm;
}
.li-css{

	padding:5px !important;


}
.ul-css{
	margin-right: 20px !important;
}
.bg-white{

	background-image: url("../img/bg-White.png");
	padding:0cm 0cm;
	margin:0cm 0.5cm;
	background-size:100% 100%;
}
.img-booking{
	border:0px !important;
	width:20% !important;
	padding:0px 0px !important;
	margin: 0px 0px !important;

}
.img-ch-booking{
	background-color: transparent;
	border:0px !important;
	width:150px !important;
	padding:0px 0px !important;
	margin: 0px 0px !important;
}

.img-slider-css{
	width:100%;
}


.header-bg-css{
	height:50px !important;
	border:0px !important;
	padding:0px !important;
	margin-top: 0px !important;
	margin-bottom:  0px !important;
	position: 0px 0px !important;
	content: 0px 0px !important;
	background-color:#509133;
	background-image:url('../img/Header/bg_header.png');
	background-repeat:no-repeat !important;
	background-attachment: !important;
	background-position:top !important; 
	background-size:100% 100%;
	
}

.btt-header{
	position:relative;
	border:0px 0px !important;
	padding:0px 0px !important;
	margin-top: 0px !important;
	margin-bottom:  0px !important;
	left:2px;
	
	size:20%;
	top:10;
	left:;
}
.bg-center-header{
	background-image:url("../img/Header/center-header.png") ;
	width:150;
	height:60px;
	position:relative;
	top:1px ;
	border:0px 0px !important;
	padding:0px 0px !important;
	margin: 0 auto !important;
	background-size:100% 100%;
}

.img-css{
	width:100%;
}


.body-black {
	margin-top: ;
	background-color:#272727;
	background-image: url('../img/BG-Black.png');
	background-repeat:no-repeat !important;
	background-attachment:fixed;
	background-position:center; 
	background-size: 100% 100%;
}

.ui-color-black{
	border:0px 0px !important;
	padding:0px 0px !important;
	background-color:#272727;
	margin: 0px 0px 0px 0px !important;
	
}

div , p , td {

	font-family: arial;
	font-size: 14px;
}

p {
	text-align:left;
	margin-top: 0px !important;
	margin-bottom:  0px !important;
	margin-left: 5%;
	margin-right:5%;
}

a{

	
	border:0px !important;
	padding:0px !important;
	margin-top: 0px !important;
	margin-bottom:  0px !important;
	position: 0px 0px !important;
	content: 0px 0px !important;
}
.date{

}
.h2-css {
	
	font-family: arial;
	font-size: 24px;
	border: 1px;
}


.booking-menuBar-css{
	height:15px;
	padding:0cm 0.5cm 0.5cm 0.5cm;
	margin:0.3cm 0.5cm 0.5cm 0.5cm;
	background-image:url('../img/Green-bar.png');
	background-repeat:no-repeat !important;
	background-attachment: !important;
	background-position:top !important; 
	background-size:100% 100%;

}

.li-css{
	left:5px;
	font-size: 14px;
	width:100%;
	height:20px;
}
.header-css{
	content: 0px !important;
	border:0px !important ;
	padding:0px 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	width:100%;
}

.footer-css{
	content: 0px !important;
	border:0px !important ;
	padding:0px 0px !important;
	margin-top: 0px !important;
	margin-bottom:  0px !important;
	
	width:100% !important;
}

.img-footer{
	position:static !important;
	
	width:50% !important;
	content: 0px !important;
	border:0px !important ;
	padding:0px 0px !important;
	margin-top: 0px !important;
	margin-bottom:  0px !important;
}

.footer-bg-css{

	background-color:#509133;
	background-image:url('../img/footer.png');
	background-repeat:no-repeat !important;
	background-attachment: !important;
	background-position:top !important; 
	background-size:100% 100%;
}

.table-css {
	border:0px !important;
	padding:0px 0px !important;
	margin-top: 0px !important;
	margin-bottom:  0px !important;
	position: 0px 0px !important;
	content: 0px 0px !important;
	
	
	.checkbox-css{
		size:15px 15px;
		center;
	}
	.canvas-css{

		padding:0px 0px !important;
		margin-top: 0px !important;
		margin-bottom:  0px !important;
		position: 0px 0px !important;
		content: 0px 0px !important;
		border:1px solid !important; 
		color:#FFFFFF; 
		height:30%;
		position:static;
	}
	ul , input{
		background-color:#848484;
	}

	table , td {
		padding:0px 0px !important;
		margin-top: 0px !important;
		margin-bottom:  0px !important;
		position: 0px 0px !important;
		content: 0px 0px !important;
		text-align: center;

	}
	.table-footer-last-child:last-child{

		border-right: 0px !important;

	}

	.table-footer{
		border-right: 1px solid #F2F2F2 !important;

	}


